#include "keys_ru.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        cmben {
            bindings = <&layer_en>;
            key-positions = <15 16>;
            layers = <1>;
        };

        cmbru {
            bindings = <&layer_ru>;
            key-positions = <15 16>;
            layers = <0>;
        };

        caps_word {
            bindings = <&caps_word>;
            key-positions = <6 7>;
        };

        dot {
            bindings = <&kp DOT>;
            key-positions = <8 20>;
            layers = <0>;
        };

        comma {
            bindings = <&kp COMMA>;
            key-positions = <19 7>;
            layers = <0>;
        };

        ru_dot {
            bindings = <&kp RU_DOT>;
            key-positions = <8 20>;
            layers = <1>;
        };

        ru_comma {
            bindings = <&kp RU_COMMA>;
            key-positions = <7 19>;
            layers = <1>;
        };

        ruen_word {
            bindings = <&layer_ruen_word>;
            key-positions = <33 34>;
            layers = <1>;
        };

        warpd {
            bindings = <&kp RA(RG(LS(F)))>;
            key-positions = <3 4>;
        };
    };

    macros {
        to_ru: to_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LC(N2))>;
            label = "TO_RU";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        to_en: to_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LC(N1))>;
            label = "TO_EN";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        layer_en: layer_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 0 &to_en>;
            label = "LAYER_EN";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        layer_ru: layer_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 1 &to_ru>;
            label = "LAYER_RU";
            tap-ms = <30>;
            wait-ms = <0>;
        };

        en: en {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&to_en>,
                <&macro_press>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&to_ru>;

            label = "EN";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        code: code {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp GRAVE &kp GRAVE &kp GRAVE>,
                <&macro_wait_time 10>,
                <&kp ENTER>,
                <&macro_wait_time 10>,
                <&kp GRAVE &kp GRAVE &kp GRAVE>,
                <&macro_wait_time 10>,
                <&kp UP &kp ENTER>;

            label = "CODE";
        };

        paste: paste {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL &kp LSHFT>,
                <&macro_tap>,
                <&kp V>,
                <&macro_release>,
                <&kp LCTRL &kp LSHFT>;

            label = "PASTE";
            wait-ms = <30>;
            tap-ms = <30>;
        };

        layer_ruen_word: layer_ruen_word {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 8 &to_en>;
            label = "LAYER_RUEN_WORD";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        ruenw_key: ruen_word_key {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&to_en>,
                <&macro_press>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&layer_ru>;

            label = "RUEN_WORD_KEY";
            wait-ms = <0>;
            tap-ms = <30>;
        };
    };

    behaviors {
        hrm_left: hrm_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM_LEFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <220>;
            flavor = "balanced";
            quick-tap-ms = <175>;
            require-prior-idle-ms = <130>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <19 20 21 22 41 42 43 38 39 40 33 32 18 31 6 7 8 9 10 36 35 34 23 37 11>;
        };

        hrm_right: hrm_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM_RIGHT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <220>;
            flavor = "balanced";
            quick-tap-ms = <175>;
            require-prior-idle-ms = <130>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <13 14 15 16 17 30 29 5 4 28 27 3 2 26 1 25 38 39 40 41 42 43 24 12 0>;
        };

        hrm_r_tp: hrm_r_tp {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM_R_TP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <170>;
            flavor = "tap-preferred";
            quick-tap-ms = <100>;
            hold-trigger-key-positions = <13 14 15 16 17 30 29 5 4 28 27 3 2 26 1 25 38 39 40 24 12 0>;
        };

        hrm_l_tp: hrm_l_tp {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM_L_TP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <170>;
            flavor = "tap-preferred";
            quick-tap-ms = <100>;
            hold-trigger-key-positions = <19 20 21 22 41 42 43 33 32 18 31 6 7 8 9 10 36 35 34 23 37 11>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        en {
            bindings = <
&kp ESC  &kp Q              &kp W                 &kp E                 &kp R             &kp T                            &kp Y  &kp U              &kp I                   &kp O                   &kp P                  &kp BSLH
&kp TAB  &hrm_left LCTRL A  &hrm_left LEFT_GUI S  &hrm_left LEFT_ALT D  &mt LEFT_SHIFT F  &kp G                            &kp H  &mt RIGHT_SHIFT J  &hrm_right RIGHT_ALT K  &hrm_right RIGHT_WIN L  &hrm_right RCTRL SEMI  &kp SINGLE_QUOTE
&trans   &kp Z              &kp X                 &kp C                 &kp V             &kp B  &kp LBKT     &kp RBKT     &kp N  &kp M              &kp COMMA               &kp DOT                 &kp SLASH              &trans
                                                                        &kp ESC           &mo 2  &kp SPACE    &lt 6 ENTER  &mo 3  &kp RCTRL
            >;

            display-name = "Base";
        };

        ru {
            display-name = "Ru";
            bindings = <
&kp ESC  &kp RU_CYRILLIC_SHORT_I         &kp RU_CYRILLIC_TSE                  &kp RU_CYRILLIC_U                  &kp RU_CYRILLIC_KA            &kp RU_CYRILLIC_IE                                                   &kp RU_CYRILLIC_EN  &kp RU_CYRILLIC_GHE            &kp RU_CYRILLIC_SHA                  &kp RU_CYRILLIC_SHCHA                &kp RU_CYRILLIC_ZE                &kp BSLH
&kp TAB  &hrm_left LCTRL RU_CYRILLIC_EF  &hrm_left LEFT_GUI RU_CYRILLIC_YERU  &hrm_left LEFT_ALT RU_CYRILLIC_VE  &mt LEFT_SHIFT RU_CYRILLIC_A  &kp RU_CYRILLIC_PE                                                   &kp RU_CYRILLIC_ER  &mt RIGHT_SHIFT RU_CYRILLIC_O  &hrm_right RIGHT_ALT RU_CYRILLIC_EL  &hrm_right RIGHT_GUI RU_CYRILLIC_DE  &hrm_right RCTRL RU_CYRILLIC_ZHE  &kp RU_CYRILLIC_E
&trans   &kp RU_CYRILLIC_YA              &kp RU_CYRILLIC_CHE                  &kp RU_CYRILLIC_ES                 &kp RU_CYRILLIC_EM            &kp RU_CYRILLIC_I   &kp RU_CYRILLIC_HA    &kp RU_CYRILLIC_HARD_SIGN  &kp RU_CYRILLIC_TE  &kp RU_CYRILLIC_SOFT_SIGN      &kp RU_CYRILLIC_BE                   &kp RU_CYRILLIC_YU                   &kp RU_QUESTION                   &trans
                                                                                                                 &kp ESC                       &mo 2               &kp SPACE             &lt 6 RETURN               &mo 4               &kp RCTRL
            >;
        };

        nav {
            bindings = <
&trans     &trans  &kp HOME      &kp UP    &kp END        &kp INS                                        &msc MOVE_Y(20)   &kp N7  &kp N8  &kp N9  &paste        &trans
&trans     &mo 7   &kp LEFT      &kp DOWN  &kp RIGHT      &kp RET                                        &msc MOVE_Y(-20)  &kp N4  &kp N5  &kp N6  &kp NUMBER_0  &trans
&layer_en  &trans  &kp LC(LEFT)  &trans    &kp LC(RIGHT)  &kp DEL  &kp PRINTSCREEN    &kp LC(BACKSPACE)  &trans            &kp N1  &kp N2  &kp N3  &trans        &layer_ru
                                           &trans         &trans   &trans             &kp BACKSPACE      &mo 5             &trans
            >;

            display-name = "Nav";
        };

        sym_en {
            bindings = <
&trans  &kp AT    &kp LT    &kp EQUAL  &kp GT    &kp GRAVE                    &kp CARET  &kp LBKT  &kp UNDER  &kp RBKT  &kp DOLLAR  &trans
&trans  &kp BSLH  &kp LPAR  &kp MINUS  &kp RPAR  &kp PLUS                     &kp PRCNT  &kp LBRC  &kp SEMI   &kp RBRC  &kp EXCL    &kp DOUBLE_QUOTES
&trans  &kp HASH  &kp STAR  &kp COLON  &kp FSLH  &trans     &trans    &trans  &trans     &kp PIPE  &kp TILDE  &kp AMPS  &kp DOT     &trans
                                       &trans    &mo 5      &trans    &trans  &trans     &trans
            >;

            display-name = "Symbols";
        };

        sym_ru {
            display-name = "Symbols";
            bindings = <
&trans     &en AT_SIGN  &en LT        &kp EQUAL     &en GT       &en GRAVE                        &en CARET       &en LBKT  &kp UNDER    &en RBKT  &en DOLLAR  &trans
&trans     &kp RU_BSLH  &kp LPAR      &kp MINUS     &kp RPAR     &kp PLUS                         &kp RU_PERCENT  &en LBRC  &kp RU_SEMI  &en RBRC  &kp EXCL    &en DOUBLE_QUOTES
&layer_en  &en HASH     &kp RU_ASTRK  &kp RU_COLON  &kp RU_FSLH  &kp RU_NUMERO  &trans    &trans  &trans          &en PIPE  &en TILDE    &en AMPS  &kp RU_DOT  &trans
                                                    &trans       &mo 5          &trans    &trans  &trans          &trans
            >;
        };

        adj {
            bindings = <
&bootloader  &trans  &trans  &trans  &trans  &trans                    &bt BT_SEL 0  &bt BT_SEL 1  &kp F20           &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR
&trans       &trans  &trans  &trans  &trans  &trans                    &out OUT_BLE  &kp C_VOL_DN  &kp C_MUTE        &kp C_VOL_UP  &trans        &studio_unlock
&trans       &trans  &trans  &code   &trans  &trans  &trans    &trans  &out OUT_USB  &kp C_PREV    &kp C_PLAY_PAUSE  &kp C_NEXT    &trans        &trans
                                     &trans  &trans  &trans    &trans  &trans        &trans
            >;

            display-name = "Adjust";
        };

        mouse {
            bindings = <
&trans  &trans  &trans    &trans    &trans    &trans                    &trans          &trans          &trans        &trans           &trans  &trans
&trans  &trans  &mkp MB2  &mkp MB3  &mkp MB1  &trans                    &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &trans  &trans
&trans  &trans  &trans    &trans    &trans    &trans  &trans    &trans  &trans          &trans          &trans        &trans           &trans  &trans
                                    &trans    &trans  &trans    &trans  &trans          &trans
            >;

            label = "Mouse";
        };

        fn {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &kp F12  &kp F7  &kp F8  &kp F9  &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &kp F11  &kp F4  &kp F5  &kp F6  &kp F10  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans   &kp F1  &kp F2  &kp F3  &trans   &trans
                                &trans  &trans  &trans    &trans  &trans   &trans
            >;

            label = "FN";
        };

        ruen_word {
            display-name = "ruen_word";
            bindings = <
&ruenw_key ESC  &kp Q              &kp W                 &kp E                 &kp R                   &kp T                                        &kp Y  &kp U                     &kp I                   &kp O                   &kp P                  &kp BSLH
&kp TAB         &hrm_left LCTRL A  &hrm_left LEFT_GUI S  &hrm_left LEFT_ALT D  &hrm_left LEFT_SHIFT F  &kp G                                        &kp H  &hrm_right RIGHT_SHIFT J  &hrm_right RIGHT_ALT K  &hrm_right RIGHT_WIN L  &hrm_right RCTRL SEMI  &kp SINGLE_QUOTE
&trans          &kp Z              &kp X                 &kp C                 &kp V                   &kp B  &trans              &trans            &kp N  &kp M                     &kp COMMA               &kp DOT                 &kp SLASH              &trans
                                                                               &ruenw_key ESC          &mo 2  &ruenw_key SPACE    &ruenw_key ENTER  &mo 3  &trans
            >;
        };
    };
};
